.alertDiv
      {
        position: fixed;
        box-shadow: 0px 0px 13px rgb(200,200,200);
        -webkit-backdrop-filter: blur(44px);
        backdrop-filter: blur(13px);
        bottom: -300px;
        width: 98%;
        left: 0%;
        margin: 0%;
        padding: 1%;
        padding-bottom: 2%;
      
        text-align: center;

        font-size: x-large;
        color: black;

        background-color: rgb(222,222,222,0.1);
        border-top-right-radius: 100em;
        border-top-left-radius: 100em; 

        z-index: 9;
      }

      #fileName
      {
        border-radius: 1000em;
        padding: 0.5%;
        padding-left: 1%;
        box-shadow: 0px 0px 13px rgb(200,200,200);
        padding-right: 1%;
        margin: 1%;
        font-size: x-large;
        font-family: QuickSand;
        margin-top: -2%;

        transition: all 0.25s;
        border: none;
      }

      #fileName:hover
      {
        box-shadow: 0px 0px 13px black;
      }

      #fileName:focus
      {
        background-color: black;
        color: white;
        outline: none;
        box-shadow: 0px 0px 13px rgb(200,200,200);
      }

      .downloadButton
      {
        background-color: white;
        border-radius: 50%;
        border: none;
        box-shadow: 0px 0px 13px rgb(200,200,200);
        margin-bottom: 0%;

        transition: all 0.25s;
      }

      .downloadButton:hover
      {
        transform: scale(1.1);
        background-color: black;
      }

      .downloadButton:active
      {
        transform: scale(0.9);
      }

      .downloadIcon
      {
        width: 35px;
        margin-top: 10%;
      }

      .exportOn
      {
        animation-name: bottomUP;
        animation-duration: 0.5s;
        animation-fill-mode: both;
      }

      .exportOff
      {
        animation-name: bottomDOWN;
        animation-duration: 0.5s;
        animation-fill-mode: both;
      }

      @keyframes bottomUP
      {
        100%
        {
          transform: translateY(-300px);
        }
      }

      @keyframes bottomDOWN
      {
        100%
        {
          opacity: 0;
          
        }
      }