
body 
{
  background-image: url('wsu1.jpg');
  background-attachment: fixed;
  background-repeat: none;
  background-size: 100% 100%;

  font-family: 'Quicksand', sans-serif;

  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
}

::selection
{
  color: black;
  background-color: white;
}

.login_form
{
  color: white;
  background-color: rgb(25,25,25);

 /* -webkit-backdrop-filter: blur(2em);
  backdrop-filter: blur(2em);*/

  font-size: large;

  border-radius: 2.5em;


  position: fixed;
  padding: 4%;
  margin: -4%;
  padding-top: 3%;
  padding-bottom: 3%;

  width: 34%;
  left: 33%;
  top: 17%;
}

.login_form h1
{
  background-color: transparent;

  margin: 0%;

  text-align: center;
}

.login_form label
{
  background-color: transparent;

  padding-left: 4%;
  padding-right: 4%;

  margin: 0%;

  font-size: xx-large;
}

#email, #password, .login_form button
{
  border-radius: 5em;

  color: white;
  background-color: rgb(74,74,74);
  box-shadow: 0em 0em 1em black;

  font-family: 'Quicksand', sans-serif;
  font-size: x-large;

  outline: none;
  border: 0.1em solid transparent;

  padding: 2%;
  padding-right: 4%;
  padding-left: 4%;

  width: 92%;

  transition: all 0.25s;
}

#email:hover, #password:hover
{
  transform: scale(1.025);
  border: 0.1em solid white;
}

#email:focus, #password:focus
{
  transform: scale(1.025);
  background-color: white;
  color: black;
  border: 0.1em solid white;
}

#email::selection, #password::selection
{
  background-color: black;
  color: white;
}

.login_form button
{
  width: auto;
  margin-top: 6%;
  font-size: x-large;

  padding-top: 1%;
  padding-bottom: 1%;

  float: right;
}

.login_form button:hover
{
  transform: scale(1.1);
  border: 0.1em solid white;

  cursor: pointer;
}

.login_form button:active
{
  transform: scale(1);
  background-color: white;
  color: black;
  cursor: pointer;
}

.errorMsg 
{
  color: red;
}


@media only screen and (max-width: 1000px) 
{
  body
  {
    background-size: auto;
  }

  .login_form
  {
    width: 70%;
    left: 15%;
    top: 20%;
    padding-top: 6%;
  }

  .login_form button
  {
    width: 100%;
  }
}









