
body 
{
  background-image: url('squares_bright.png');
  background-attachment: fixed;
  background-repeat: none;
  background-size: 100% 100%;

  font-family: 'Quicksand', sans-serif;

  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
}

::selection
{
  color: black;
  background-color: white;
}

.login_form
{
  color: black;
  background-color: transparent;

  -webkit-backdrop-filter: blur(2em);
  backdrop-filter: blur(2em);

  font-size: large;

  border-radius: 2.5em;


  position: fixed;
  padding: 4%;
  margin: -4%;
  padding-top: 3%;
  padding-bottom: 3%;

  width: 34%;
  left: 33%;
  top: 17%;
}

.login_form h1
{
  background-color: transparent;

  margin: 0%;

  text-align: center;
}

.login_form label
{
  background-color: transparent;

  padding-left: 4%;
  padding-right: 4%;

  margin: 0%;

  font-size: xx-large;
}

#email, #password, .login_form button
{
  border-radius: 5em;

  color: black;
  background-color: transparent;
  box-shadow: 0em 0em 1em rgb(200,200,200);

  font-family: 'Quicksand', sans-serif;
  font-size: x-large;

  outline: none;
  border: 0.1em solid transparent;

  padding: 2%;
  padding-right: 4%;
  padding-left: 4%;

  width: 92%;

  transition: all 0.25s;
}

#email:hover, #password:hover
{
  transform: scale(1.025);
  border: 0.1em solid black;
}

#email:focus, #password:focus
{
  transform: scale(1.025);
  background-color: black;
  color: white;
  border: 0.1em solid black;
}

#email::selection, #password::selection
{
  background-color: white;
  color: black;
}

.login_form button
{
  width: auto;
  margin-top: 6%;
  font-size: x-large;

  padding-top: 1%;
  padding-bottom: 1%;

  float: right;
}

.login_form button:hover
{
  transform: scale(1.1);
  border: 0.1em solid black;

  cursor: pointer;
}

.login_form button:active
{
  transform: scale(1);
  background-color: black;
  color: white;
  cursor: pointer;
}




/* .main_form 
{
  width:350px;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  position: absolute;
  color: #fff;
}

.main_form 
{
  color: white;
}
.main_form h1{
  font-size: 3em;
  text-align: center;
  text-transform:uppercase;
  margin: 40px 0 ;
}
.main_form label{
  font-size: 2em;
  margin:15px 0 ;

}
.main_form input{
  font-size 2em;
  width:100%;
  padding: 15px 10px;
  border: 0 ;
  outline: none;
  border-radius:5px;
}
.main_form input[type='submit']{
  font-size: 2em;
  font-weight:bold;
  margin: 15px 0;
  width:50%;
  border-radius:5px;
  border:none;
} */