@media only screen and (max-width: 1000px) 
{

body
{
	margin: 0;
	padding: 1%;
	color: black; 
	background-color: white;
	font-size: large;
	font-family: 'QuickSand';

	animation-name: blurOut;
  	animation-delay: 1s;
  	animation-fill-mode: both;
  	animation-duration: 0.5s;
}

#layer
{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 8;
	display: none;
	left: 0%;
	top: 0%;
	background-color: rgb(200,200,200,0.4);
	-webkit-backdrop-filter: blur(13px);
	backdrop-filter: blur(13px);
}

#topBar
{
	position: fixed;
	margin: 0;
	padding: 1%;

	text-align: center;
	top: 0%;
	left: 0%;
	z-index: 9;

	width: 100%;
	background-color: rgb(200,200,200,0.4);
	-webkit-backdrop-filter: blur(13px);
	backdrop-filter: blur(13px);

	animation-name: toplaunch;
  	animation-delay: 0.5s;
  	animation-fill-mode: both;
  	animation-duration: 0.5s;
}

.dashboard
{
	padding: 1%;
	margin: 1%;
	width: 96%;
	position: relative;

	animation-name: toplaunch;
  	animation-delay: 0.5s;
  	animation-fill-mode: both;
  	animation-duration: 0.5s;
}

.widget
{
	padding: 2%;
/*	-webkit-backdrop-filter: blur(13px);
*/
	background-color: transparent;
	border-radius: 25px;
	margin-bottom: 4%;
	margin-top: 2%;
	box-shadow: none;
}

.widgetTitle
{
	padding-left: 4%;
}

.dataTable
{
	width: 100%;
	padding: 1%;
	margin: 0;
	background-color: transparent;
}

tr
{
	width: 98%;
	margin: -1%;
	margin-bottom: 4%;
	margin-top: 1%;

	border-radius: 15px;
	background-color: white;
	display: block;
	padding: 2%;
	
	border: 1px solid transparent;
	box-shadow: 0px 0px 13px rgb(200,200,200);

	transition: all 0.25s;
}

tr:hover
{
	transform: scale(1.01);
	border: 1px solid white;
	cursor: pointer;
}

td
{
	width: 22.5%;
	background-color: transparent;
	padding: 1%;

	border-radius: 47px;

	display: inline-block;
	margin: 0%;
 	overflow: hidden;
 	text-overflow: ellipsis;
 	white-space: nowrap;
}

.noPreview
{
	display: none;

	animation-name: showPreview;
	animation-fill-mode: backwards;
	animation-duration: 0.25s;
}

.preview
{
	position: fixed;
	display: block;
	width: 92%;
	left: 1%;
	top: 0%;
	background-color: white;
	margin: 1%; 
	margin-top: 15%; 
	padding: 2%;
	z-index: 9;
	color: black;
	height: 65%;
	overflow-y: scroll;

	animation-name: showPreview;
	animation-fill-mode: both;
	animation-duration: 0.25s;

	border-radius: 25px;
	font-family: 'Comfortaa';
	box-shadow: 0px 0px 13px rgb(200,200,200);
}

.previewTitle
{
	padding-left: 4%;
}

.previewSection
{
	border-radius: 20px;
	width: 92%;
	padding: 4%;
	margin-top: 2%;
	margin-bottom: 2%;
	box-shadow: 0px 0px 13px rgb(200,200,200);
}

@keyframes antigravity
{
	100%
	{
		bottom: 5%;
	}
}

#close
{
	position: fixed;
	bottom: -47%;
	width: 90%;
	left: 5%;
	padding: 4%;
	z-index: 10;
}

/*********/

#searchBarDiv
{
	background-color: white;
	position: fixed;
	display: flex;
	color: black;
	top: 10%;
	width: 90%;
	left: 5%;
	z-index: 2;
	
	/*border-radius: 47px;*/
	border-radius: 1000em;
	box-shadow: 0px 13px 13px rgb(200,200,200);
	transition: all 0.25s;
	border: 1.5px solid transparent;
}

#searchBar
{
	font-size: xx-large;
	font-family: 'Quicksand';
	/*float: left;*/
	color: black;
	padding: 1%;
	z-index: 1;

	width: 100%;

	border: 1px solid transparent;
	border-radius: 47px;
	
	background-color: transparent;
	padding-left: 2%;
	padding-right: 2%;

	transition: all 0.25s;
}

/*********************************/

.mainTitle
{
	font-family: "Comfortaa";
	font-size: 400%;
	width: auto;
	padding: 0%;
  margin-top: 25%;
  padding-left: 4%;
  color: white;
  height: 100%;
  position: fixed;
  z-index: -1;
  text-shadow: 0px 0px 13px rgb(200,200,200);

  animation-name: launch;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  animation-duration: 0.5s;
}

.formDiv
{
  padding: 1%;
  /* background-image: linear-gradient(147deg, yellow, aqua); */
  margin: 0;
  border-radius: 50px;
  /*background-image: url('worlds.png');*/
  background-color: white;

  z-index: 1;
  margin-top: 100%;
  box-shadow: none;
}

.formSetion
{ 
  background-color: white;
  box-shadow: 0px 0px 25px rgb(200,200,200);
  
  margin: 2%;
  margin-bottom: 5%;
  padding: 1%;
  border-radius: 25px;
  transition: all 0.25s;
  /*-webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);*/
}

/*.formSetion:hover
{
  margin: 4%;
  padding: 2%;
  border-radius: 47px;
  box-shadow: 0px 0px 13px black;
  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
  background-color: rgb(13, 13, 13,0.4);
  transform: scale(1.1);

}*/

.sideByside
{
  display: block;
 
  margin: 0;
  padding: 0;
}

.normalBlock
{
  display: block;
  width: 92%;
  margin: 2%;
  padding: 2%;
  transition: all 0.25s;
  border-radius: 47px;
}
.normalBlock:hover
{
  transform: scale(1);
  /* -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
  background-color: rgb(13, 13, 13,0.1);   */
}

label, input, select, option
{
  mix-blend-mode: inherit;
  display: block;
  margin: 1%;
  border-radius: 47px;
  color: black;
  border: none;
  padding: 1.5%;
  padding-left: 3%;
  padding-right: 3%;
  
  transition: all 0.5s;
  font-family: 'Quicksand', sans-serif;
}

input
{
  padding: 3%;
  border: 1px solid black;
  padding-left: 4.7%; 
  width: 90%;
  font-size: x-large;
  /* -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px); */
}

select, option
{
  margin: 4%;
  color: black;
  font-size: 125%;
  width: 13%;
}

input
{
    background-color: white;
}

input:hover
{
  border: 1px solid black;
}

input:focus
{
  background-color: black;
  color: white; 
  box-shadow: none;
}

input[type="submit"]
{
  width: 96%;
  margin: 0;
  margin-bottom: 7%;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
  left: 2%;
  box-shadow: 0px 0px 25px rgb(200,200,200);
  background-color: white;
  color: black;

  position: relative;
  transition: all 0.25s;
}

textarea
{
  margin: 2%;
  width: 92%;
  border-radius: 20px;
  padding: 2%;
  border: none;
  border: 1px solid darkgrey;
  font-family: 'Quicksand', sans-serif;
  box-shadow: 0px 0px 13px rgb(200,200,200);
  font-size: x-large;
  transition: all 0.25s;
}

}