@media only screen and (max-width: 1000px) 
{

.emailLink
{
	color: white;
	background-color: transparent;
	transition: all 0.25s;
}

.emailLink:hover
{
	color: aqua;
	text-decoration: none;
}

body
{
	margin: 0;
	padding: 1%;
	color: white; 
	background-color: black;
	font-size: large;
	font-family: 'QuickSand';

	animation-name: blurOut;
  	animation-delay: 1s;
  	animation-fill-mode: both;
  	animation-duration: 0.5s;
}

@-webkit-keyframes blurOut
{
  0%
  {
  	-webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
  }
}

@-webkit-keyframes toplaunch
{
  0%
  {
    opacity: 0;
    transform: translateY(-74px);
  }
}

#layer
{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 8;
	display: none;
	left: 0%;
	top: 0%;
	background-color: rgb(25,25,25,0.4);
	-webkit-backdrop-filter: blur(13px);
	backdrop-filter: blur(13px);
}

#topBar
{
	position: fixed;
	margin: 0;
	padding: 1%;

	text-align: center;
	top: 0%;
	left: 0%;
	z-index: 9;

	width: 100%;
	background-color: rgb(13,13,13,0.4);
	-webkit-backdrop-filter: blur(13px);
	backdrop-filter: blur(13px);

	animation-name: toplaunch;
  	animation-delay: 0.5s;
  	animation-fill-mode: both;
  	animation-duration: 0.5s;
}

.dashboard
{
	padding: 1%;
	margin: 1%;
	width: 96%;
	position: relative;

	animation-name: toplaunch;
  	animation-delay: 0.5s;
  	animation-fill-mode: both;
  	animation-duration: 0.5s;
}

.widget
{
	padding: 2%;
/*	-webkit-backdrop-filter: blur(13px);
*/
	background-color: transparent;
	border-radius: 25px;
	margin-bottom: 4%;
	margin-top: 2%;
}

.widgetTitle
{
	padding-left: 4%;
}

.dataTable
{
	width: 100%;
	padding: 1%;
	margin: 0;
	background-color: transparent;
}

tr
{
	width: 98%;
	margin: -1%;
	margin-bottom: 4%;
	margin-top: 1%;

	border-radius: 15px;
	background-color: rgb(25,25,25);
	display: block;
	padding: 2%;
	
	border: 1px solid transparent;
	box-shadow: 0px 0px 13px black;

	transition: all 0.25s;
}

tr:hover
{
	transform: scale(1.01);
	border: 1px solid white;
	cursor: pointer;
}

td
{
	width: 22.5%;
	background-color: transparent;
	padding: 1%;

	border-radius: 47px;

	display: inline-block;
	margin: 0%;
 	overflow: hidden;
 	text-overflow: ellipsis;
 	white-space: nowrap;
}

.noPreview
{
	display: none;

	animation-name: showPreview;
	animation-fill-mode: backwards;
	animation-duration: 0.25s;
}

.preview
{
	position: fixed;
	display: block;
	width: 92%;
	left: 1%;
	top: 0%;
	background-color: rgb(25,25,25);
	margin: 1%; 
	margin-top: 15%; 
	padding: 2%;
	z-index: 9;
	color: white;
	height: 65%;
	overflow-y: scroll;

	animation-name: showPreview;
	animation-fill-mode: both;
	animation-duration: 0.25s;

	border-radius: 25px;
	font-family: 'Comfortaa';
	box-shadow: 0px 0px 13px black;
}

.previewTitle
{
	padding-left: 4%;
}

.previewSection
{
	border-radius: 20px;
	width: 92%;
	padding: 4%;
	margin-top: 2%;
	margin-bottom: 2%;
	box-shadow: 0px 0px 13px black;
}

@keyframes antigravity
{
	100%
	{
		bottom: 5%;
	}
}

#close
{
	position: fixed;
	bottom: -47%;
	width: 90%;
	left: 5%;
	padding: 4%;
	z-index: 10;
}

/*********/

#searchBarDiv
{
	background-color: rgb(25,25,25);
	position: fixed;
	display: flex;
	color: white;
	top: 10%;
	width: 90%;
	left: 5%;
	z-index: 2;
	
	/*border-radius: 47px;*/
	border-radius: 1000em;
	box-shadow: 0px 13px 13px black;
	transition: all 0.25s;
	border: 1.5px solid transparent;
}

#searchBar
{
	font-size: xx-large;
	font-family: 'Quicksand';
	/*float: left;*/
	color: white;
	padding: 1%;
	z-index: 1;

	width: 100%;

	border: 1px solid transparent;
	border-radius: 47px;
	
	background-color: transparent;
	padding-left: 2%;
	padding-right: 2%;

	transition: all 0.25s;
}

}