body
{
  background-color: black;
  margin: 0px;
  padding: 10%;
  font-size: x-large;
}

.mainTitle
{
  font-family: "Comfortaa";
  font-size: 600%;
  width: auto;
  padding: 0%;
  margin-top: -1%;
  padding-left: 4%;
  color: white;
  height: 100%;
  position: fixed;
  z-index: -1;
}

div
{
	background-color: white;
}