body
{
	margin: 0;
	padding: 4%;
	color: black; 
	background-color: white;
	font-size: x-large;
	font-family: 'QuickSand';

	background-image: url('planets.png');
	background-attachment: fixed;
	background-size: contain;
	background-repeat: no-repeat;
}

#topBar
{
	position: fixed;
	margin: 0;
	padding: 1%;

	text-align: center;
	top: 0%;
	left: 0%;
	z-index: 1;

	width: 100%;
	background-color: rgb(240,240,240,0.4);
	-webkit-backdrop-filter: blur(13px);
}

.dashboard
{
	padding: 2%;
	margin: 2%;
}

.widget
{
	padding: 2%;
/*	-webkit-backdrop-filter: blur(13px);
*/
	background-color: white;
	border-radius: 47px;
	margin-bottom: 4%;
	margin-top: 4%;
	box-shadow: 0px 0px 13px rgb(200,200,200);
}

.widgetTitle
{
	padding-left: 2%;
}

.dataTable
{
	width: 100%;
	padding: 1%;
	margin: 0;
	background-color: transparent;
}

tr
{
	width: 98%;
	margin: 0%;
	margin-bottom: 1%;
	margin-top: 1%;

	border-radius: 47px;
	background-color: white;
	display: block;
	padding: 1%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;

	box-shadow: 0px 0px 13px rgb(200,200,200);

	transition: all 0.25s;
}

tr:hover
{
	transform: scale(1.01);
	cursor: pointer;
	box-shadow: 0px 0px 13px black;
}

td
{
	width: 22.5%;
	background-color: transparent;
	padding: 1%;

	border-radius: 47px;

	display: inline-block;
	margin: 0%;
 	overflow: hidden;
 	text-overflow: ellipsis;
 	white-space: nowrap;
}

.preview
{
	position: fixed;
	width: 70%;
	left: 8%;
	top: 10%;
	background-color: black;
	margin: 7%; 
	z-index: 2;
	color: white;
}

.preview_section
{
	width: 100%;
	padding: 2%;
	
}












