::selection
{
	color: black;
	background-color: white;
}

.emailLink
{
	color: white;
	background-color: transparent;
	transition: all 0.25s;
	text-decoration: none;
	padding: 0.5%;
	padding-left: 2%;
	padding-right: 2%;
	border-radius: 5em;
	box-shadow: 0em 0em 1em rgb(200,200,200);
}

.emailLink:hover
{
	color: black;
	background-color: white;
	text-decoration: none;
}

body
{
	margin: 0;
	padding: 4%;

	color: white; 						/*change*/
	background-color: black;			/*change*/

	font-size: x-large;
	font-family: 'QuickSand';

	background-image: url('abyss.png'); /*change*/

	background-attachment: fixed;

	background-size: cover;
	
	background-repeat: no-repeat;

	animation-name: blurOut;
  	animation-delay: 1s;
  	animation-fill-mode: both;
  	animation-duration: 0.5s;
}

@-webkit-keyframes blurOut
{
  0%
  {
  -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
  }
}

@-webkit-keyframes toplaunch
{
  0%
  {
    opacity: 0;
    transform: translateY(-74px);
  }
}

#layer
{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 8;
	display: none;
	left: 0%;
	top: 0%;

	background-color: transparent; /*change*/

	-webkit-backdrop-filter: blur(1em); /*change*/
	backdrop-filter: blur(1em); /*change*/
}

#topBar
{
	position: fixed;
	margin: 0%;
	padding: 0.5%;

	text-align: center;
	top: 0%;
	left: 0%;
	z-index: 9;

	width: 99%;
	background-color: transparent; /*change*/
	
	-webkit-backdrop-filter: blur(13px);
	backdrop-filter: blur(13px);

	animation-name: toplaunch;
  	animation-delay: 0.5s;
  	animation-fill-mode: both;
  	animation-duration: 0.5s;
}

.dashboard
{
	padding: 2%;
	margin: 2%;
	width: 92%;

	z-index: 1;

	position: relative;

	animation-name: toplaunch;
  	animation-delay: 0.5s;
  	animation-fill-mode: both;
  	animation-duration: 0.5s;
}

.widget
{
	padding: 2%;

	-webkit-backdrop-filter: blur(1em); 		/*change*/
	background-color: transparent;     			/*change*/

	border-radius: 2em;
	margin-bottom: 4%;
	margin-top: 4%;
	box-shadow: 0em 0em 2em rgb(13,13,13,0.4); 	/*change*/
}

.widgetTitle
{
	padding-left: 2%;
}

.dataTable
{
	width: 100%;
	padding: 1%;
	margin: 0;
	background-color: transparent;
}

tr
{
	width: 98%;
	margin: 0%;
	margin-bottom: 1%;
	margin-top: 1%;

	border-radius: 100em;

	background-color: rgb(0,0,0,0.5); /*change*/
	color: white;

	display: block;
	padding: 1%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	
	box-shadow: none; /*change*/

	transition: all 0.25s;
}

tr:hover
{
	transform: scale(1.01);
	background-color: white;
	color: black;
	box-shadow: none;
	cursor: pointer;
}

tr:active
{
	transform: scale(0.99);
	box-shadow: none;
	cursor: pointer;
	color: white;
	background-color: black;
}

tr::selection
{
	background-color: transparent;
	color: inherit;
}

td
{
	/*width: 22.5%;*/
	width: 23%;
	background-color: transparent;
	padding: 1%;

	border-radius: 47px;

	display: inline-block;
	margin: 0%;
 	overflow: hidden;
 	text-overflow: ellipsis;
 	white-space: nowrap;
}

td::selection
{
	background-color: inherit;
	color: inherit;
}

.noPreview
{
	display: none;

	animation-name: showPreview;
	animation-fill-mode: backwards;
	animation-duration: 0.25s;
}

.preview
{
	position: fixed;
	display: block;
	width: 66%;
	left: 8%;
	top: 0%;

	background-color: transparent; /*change*/

	margin: 7%; 
	padding: 2%;
	z-index: 9;
	color: black;
	height: 60%;
	overflow-y: scroll;

	animation-name: showPreview;
	animation-fill-mode: both;
	animation-duration: 0.25s;

	border-radius: none; /*change*/
	font-family: 'Quicksand';
	box-shadow: none; /*change*/
}

.previewTitle
{	
	border-radius: 1em;	/*change*/
	position: sticky;	/*change*/
	top: -6%;			/*change*/
	padding: 1.5%;	    /*change*/
	padding-left: 4%;	/*change*/
	z-index: 2;			/*change*/
	-webkit-backdrop-filter: blur(1em); 	/*change*/
	backdrop-filter: blur(1em);				/*change*/
	background-color: transparent; 		    /*change*/
	color: white;						    /*change*/
}

.previewSection
{
	border-radius: 1.5em;
	width: 92%;
	padding: 4%;

	/*changes for theme*/
	margin-top: 7%; 		  
	margin-bottom: 7%; 		 
	background-color: rgb(0,0,0,0.4);
	color: white;
	box-shadow: none; 		  
}

.previewSectionTitle, .previewTitle
{
  font-family: 'Julius Sans One', sans-serif;
  font-size: 130%;
}

/*.previewSectionTitle
{
	position: sticky;	
	top: 6%;			
	-webkit-backdrop-filter: blur(1em); 	
	background-color: inherit; 		    

	z-index: 1;	
}*/


.previewBlock
{
  padding: 4%;
   
  border-radius: 1.5em;
  box-shadow: 0em 1em 1em rgb(200,200,200);
}

.previewSection .previewBlock 
{
  background-color: rgb(0,0,0,0.5);
  box-shadow: none;
}

.noShadow
{
  box-shadow: none;
}

.noPreview::-webkit-scrollbar 
{
    display: none;
}

.noPreview 
{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar 
{
    display: none;
}

body 
{
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

@keyframes blur
{
	100%
	{
		filter: blur(25px);
	}
}

@keyframes showPreview
{
	0%
	{
		transform: scale(2);
		opacity: 0;
	}
}

.blurDiv
{
	animation-name: blur;
	animation-fill-mode: both;
	animation-duration: 0.25s;
}

.blurDivOff
{
	animation-name: blur;
	animation-fill-mode: backwards;
	animation-duration: 0.25s;
}

.uiButton,#close,.uiButtonOn
{
	font-family: 'Comfortaa';
	font-size: large;
	padding: 2%;
	padding-right: 4%;
	padding-left: 4%;
	background-color: rgb(0,0,0,0.7);
	color: white;
	border: none;
	border-radius: 47px;
	transition: all 0.25s;
	/*box-shadow: 0px 0px 13px black;*/
}

.uiButton:hover,#close:hover,.uiButtonOn:hover
{
	color: black;
	background-color: white;
	box-shadow: none;
	cursor: pointer;
}

.uiButton:active,#close:active,.uiButtonOn:active
{
	transform: scale(0.74);
}

.uiButtonOff
{
	animation-name: gravity;
	animation-fill-mode: both;
	animation-duration: 0.5s;
}

@keyframes gravity
{
	100%
	{
		bottom: -47%;
	}
}

.uiButtonOn
{
	animation-name: antigravity;
	animation-fill-mode: both;
	animation-duration: 0.5s;
}

@keyframes antigravity
{
	100%
	{
		bottom: 10%;
	}
}


#close
{
	position: fixed;
	bottom: -47%;
	width: 10%;
	left: 45%;
	padding: 1%;
	z-index: 10;
}

.stretch
{
	animation-name: enlarge;
	animation-fill-mode: both;
	animation-duration: 0.5s;
}

@keyframes enlarge
{
	100%
	{
		height: 100%;
		-webkit-backdrop-filter: blur(47px);
		backdrop-filter: blur(47px);
	}
}

.shrink
{
	animation-name: minimize;
	animation-fill-mode: both;
	animation-duration: 0.5s;
}

@keyframes minimize
{
	0%
	{
		height: 100%;
	}
}

.disslove
{
	animation-name: fadeIn;
	animation-fill-mode: both;
	animation-duration: 0.5s;
}

@keyframes fadeIn
{
	100%
	{
		opacity: 0;
	}
}

.appear
{
	animation-name: fadeOut;
	animation-fill-mode: both;
	animation-duration: 0.5s;
}

@keyframes fadeOut
{
	100%
	{
		opacity: 1;
	}
}

/* FIREFOX SUPPORT */
@-moz-document url-prefix() 
{
  #topBar 
  {
    background-color: black;
  }

  #layer
  {
  	background-color: white;
  }
}

.linkB 
{
    background-color: transparent;
    color: white;
    
    font-size: x-large;
    font-family: "QuickSand";
    
    border: none;
    
    border-radius: 5em;
    
    outline: none;
    transition: all 0.25s;
    
    margin-left: 0.25%;
    margin-right: 0.25%;
    
    padding: 0.25%;
    padding-left: 1.25%;
    padding-right: 1.25%;
}

.linkB:hover
{
	background-color: white; /*change*/
	color: black; /*change*/

    box-shadow: 0px 0px 1em rgb(0,0,0); /*change*/
    cursor: pointer;
}

.linkB:active, .linkB_active, .linkB_active:hover
{
    color: white;
    background-color: black;
    box-shadow: none;
}

.linkB_active
{
	transition: all 0.25s;
}

.linkB_active:active
{
	color: black;
	background-color: transparent;
	box-shadow: 0px 0px 13px rgb(0,0,0); /*change*/
}


