body
{
  background-color: black;
  margin: 0px;
  padding: 4%;
  font-size: xx-large;
}

#formDiv
{
  padding: 4%;
  background-color: gold;
  background-image: linear-gradient(147deg, gold, magenta);
  margin: 0;
  border-radius: 47px;
}

.formSetion
{ 
  background-color: transparent;
  
  margin: 2%;
  padding: 4%;
  border-radius: 25px;
  transition: all 0.25s;
}

.formSetion:hover
{
  margin: 4%;
  padding: 2%;
  border-radius: 25px;
  box-shadow: 0px 0px 13px black;
}

.sideByside
{
  display: flex;
 
  margin: 0;
  padding: 0;
}

.normalBlock
{
  display: inline;
  width: 50%;
  margin: 4%;
  transition: all 0.5s;
}
.normalBlock:hover
{
   padding-right: 0px;
}

label, input, select, option
{
  display: block;
  margin: 1%;
  border-radius: 47px;
  border: none;
  padding: 1.5%;
  padding-left: 3%;
  padding-right: 3%;
  
  transition: all 0.5s;
  font-family: 'Quicksand', sans-serif;
}

select, option
{
  margin: 4%;
}

input
{
  background-color: white;
}

input:hover
{
  box-shadow: 0px 0px 13px black;
}
