body
{
  background-color: black;
  margin: 0px;
  padding: 10%;
  color: white;
  font-size: x-large;
}

@-webkit-keyframes launch
{
  0%
  {
    color: black;
    transform: scale(2);
  }
}

#thankYou
{
	font-size: 225%;
	font-family: "Comfortaa";
}

.summary
{
	font-family: "QuickSand";
	border-radius: 100px;
	box-shadow: 0px 0px 13px black;
	background-color: rgb(25,25,25);
	padding: 1%;
	margin: 4%;
	padding-left: 5%;
	padding-right: 5%;
}

.summaryTable
{
	width: 94%;
	margin: 2%;
	padding: 1%;
	border-radius: 100px;
	background-color: red;
}














