body
{
  background-color: black;
  margin: 0px;
  padding: 10%;
  color: white;
  font-size: x-large;
}

@-webkit-keyframes launch
{
  0%
  {
    color: black;
    transform: scale(2);
  }
}

#thankYou
{
	font-size: 225%;
	font-family: "Comfortaa";
}

.summary
{
	font-family: "QuickSand";
	border-radius: 50px;
	
	padding: 2%;
	margin: 2%;
	margin-top: 7%;
	padding-left: 5%;
	padding-right: 5%;

	box-shadow: 0px 0px 13px black;
	background-color: rgb(25,25,25);
}

.summaryTable
{
	width: 96%;
	margin: 2%;
	margin-bottom: 4.7%;
	padding: 4%;
	border-radius: 47px;
	background-color: rgb(25,25,25);
	box-shadow: 0px 0px 25px black;
	border: 1px solid black;

	transition: all 0.25s;
}

.summaryTable:hover
{
	border: 1px solid white;
	transform: scale(1.04);
	box-shadow: none;
}

td
{	
	width: 36%;
	border-radius: 47px;
	padding: 1%;
	padding-left: 7%;
	padding-right: 7%;
	display: inline-block;
}

tr
{
	transition: all 0.1s;
}

tr:hover
{
	background-color: black;
}














