@keyframes bubblegum
{
	0%
	{
		transform: scale(2.5);
		opacity: 0;
	}
}

@keyframes bubblegumReverse
{
	100%
	{
		transform: scale(2.5);
		opacity: 0;
	}
}

.bubblegumOn
{
	animation-name: bubblegum;
	animation-fill-mode: both;
	animation-duration: 0.25s;
}

.bubblegumOff
{
	animation-name: bubblegumReverse;
	animation-fill-mode: both;
	animation-duration: 0.25s;
}

#searchBar
{
	width: 50%;
	top: 13%;
	max-height: 4%;
	left: 25%;
	color: white;
	font-size: x-large;
	font-family: 'Comfortaa';

	position: fixed;
	z-index: 4;

	border: 1px solid transparent;
	border-radius: 47px;
	padding: 1%;
	background-color: rgb(25,25,25);
	padding-left: 2%;
	padding-right: 2%;

	box-shadow: 0px 13px 13px black;
	transition: all 0.25s;
}



#searchBar:hover
{
	border-color: white;
}

#searchBar:focus
{
	outline: none;
	color: black;
	background-color: white;
}

.icon, .iconActive
{
	width: 1.5em;
	background-color: transparent;
	transition: all 0.25s;
	border-radius: 25%;
	position: fixed;
	top: 17%;
	right: 5%;
	padding: 0.2%;
	
	border: 1px solid transparent;
}

.icon:hover,.iconActive:hover
{
	background-color: rgb(47,47,47);
	cursor: pointer;
}

.icon:active,.iconActive:active
{
	transform: scale(0.7);
}

.iconActive
{
	background-color: rgb(47,47,47);
}

/*----------------------------------------------------------------*/