.linkA
{
	text-decoration: none;
	color: white;
	border-radius: 1000em;
	padding: 1.5%;
	margin: -1.5%;

	transition: all 0.25s;
}

.linkA:hover
{
	box-shadow: 0px 0px 10px white;
	background-color: black;
	padding: 0.5%;
	padding-left: 1.5%;
	padding-right: 1.5%;

	margin: -0.5%;
	margin-left: 0.3%;
	margin-right: 0.3%;
}

.linkA:active
{
	color: black;
	box-shadow: 0px 0px 10px black;
	background-color: white;
}

.search_div
{
	background-color: rgb(25,25,25);
	position: fixed;
	display: flex;
	color: white;
	top: 10%;
	width: 50%;
	left: 25%;
	z-index: 2;
	
	/*border-radius: 47px;*/
	border-radius: 1000em;
	box-shadow: 0px 13px 13px black;
	transition: all 0.25s;
	border: 1.5px solid transparent;
}

.search_div:hover
{
	border-color: white;
}

.search_div:active
{
	padding: 0%;
	margin: -0%;
}

.search_TextField::selection
{
    color: white;
    background-color: black;
}

.search_Icon
{
	background-color: rgb(44,44,44);
	color: white;
	font-size: xx-large;
	border-radius: 50%;
	padding-right: 2%;
	padding-left: 2%;
	border: none;
	outline: none;
	
	box-shadow: 0px 0px 13px black;
	
	transition: all 0.25s;
	
}

.search_Icon:hover
{
	background-color: white;
	cursor: pointer;

	color: black;
}

.search_Icon:active
{
	transform: scale(0.9);
}

@keyframes bubblegum
{
	0%
	{
		transform: scale(2.5);
		opacity: 0;
	}
}

@keyframes bubblegumReverse
{
	100%
	{
		transform: scale(2.5);
		opacity: 0;
	}
}

@keyframes hideDown
{
  100%
  {
    opacity: 0;
    transform: translateY(-74px);
  }
}

.hideBelow
{
	animation-name: hideDown;
	animation-fill-mode: both;
	animation-duration: 0.5s;
}

.bubblegumOn
{
	animation-name: bubblegum;
	animation-fill-mode: both;
	animation-duration: 0.25s;
}

.bubblegumOff
{
	animation-name: bubblegumReverse;
	animation-fill-mode: both;
	animation-duration: 0.25s;
}

.search_TextField
{
	font-size: xx-large;
	font-family: 'Quicksand';
	/*float: left;*/
	color: white;
	padding: 1%;
	z-index: 1;

	width: 100%;

	border: 1px solid transparent;
	border-radius: 47px;
	
	background-color: transparent;
	padding-left: 2%;
	padding-right: 2%;

	transition: all 0.25s;
}

/*.search_TextField:hover
{
	border-color: white;
}*/

.search_TextField:focus
{
	outline: none;
	color: black;
/*	background-color: white;
*/}

.icon, .iconActive
{
	width: 1.5em;
	background-color: transparent;
	transition: all 0.25s;
	border-radius: 25%;
	position: fixed;
	top: 17%;
	right: 5%;
	padding: 0.2%;
	
	border: 1px solid transparent;
}

.icon:hover
{
	background-color: rgb(47,47,47);
	cursor: pointer;
}

.iconActive:hover
{
	background-color: red;
	cursor: pointer;
}

.icon:active,.iconActive:active
{
	transform: scale(0.7);
}

.iconActive
{
	background-color: darkred;
}

#searchResultsDiv
{
  background-color: transparent;
  
  border-radius: 2em;
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;

  overflow-y: scroll;
  padding: 0%;

  position: fixed;
  height: 74%;
  left: 4%;
  bottom: 0%;

  width: 92%;
  margin: 0;

  box-shadow: none;

  z-index: 1;
}

#searchResultsDiv::-webkit-scrollbar 
{
    display: none;
}

#searchResultsDiv
{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/*#searchResultsDiv .widget
{
	box-shadow: none;
}
*/

#searchResultsDiv .widget
{
  margin-bottom: 24%;
}

#searchButton
{
	top: 13%;
	left: 75%;
	color: white;
	font-size: xx-large;
	font-family: 'Quicksand';

	position: fixed;
	z-index: 1;

	border: 1px solid transparent;
	border-radius: 47px;
	padding-bottom: 1%;
	background-color: rgb(25,25,25);
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 0.2%;

	box-shadow: 0px 13px 13px black;
	transition: all 0.25s;
}

#searchButton:hover
{
	border-color: white;
}

#searchButton:active
{
	transform: scale(0.7);
}



.filterSearchResult
{
	background-color: rgb(13,13,13);
	padding: 1%;

	margin-top: 4%;
	/*margin-bottom: 3%;*/

	border-radius: 1.5em;
}

.exportSearchLink
{
  font-family: 'Quicksand';

  padding: 1%;
  margin: 1%; 
  font-size: x-large;
  border-radius: 5em;
  border: 0.1em solid transparent;
  color: white;
  background-color: rgb(35,35,35);
  padding-left: 2%;
  padding-right: 2%;

  margin-top: 2%; 

  width: 98%;

  transition: all 0.25s;
}

.exportSearchLink:hover
{
  border: 0.1em solid white;
  cursor: pointer;
}

.exportSearchLink:active
{
  background-color: white;
  color: black;
}

.filterSearchResult .widgetTitle
{
  background-color: inherit;

  position: sticky;
  position: -webkit-sticky;
  top: -0.4%;

  z-index: 1;

  padding: 1%;
  margin: 0%;
  margin-top: 1%;
  margin-bottom: 1%;

  padding-left: 3%;
  padding-right: 3%;
}

.primaryFilterDiv
{
  background-color: inherit;
  margin: 0%;
  padding: 0%;
}

.filterSearchExportLink
{
  font-size: inherit;
  background-color: inherit;
  color: inherit;
  border: none;

  margin-left: -2%;
  padding-left: 2%;

  margin-right: 1%;
  padding-right: 1%;

  border-radius: 1em;

  font-family: 'Quicksand';

  transition: all 0.25s;
}

.filterSearchExportLink:hover
{
  background-color: white;
  color: black;
  cursor: pointer;
}

.filterSearchExportLink:active
{
  transform: scale(0.97);
}








/*----------------------------------------------------------------*/

#searchSuggestionsDiv
{
    display: block;

    background-color: rgb(25,25,25);

    position: fixed;

    border-radius: 1em;

    padding: 1%;

    width: 50%;
    left: 24%;
    top: 22.5%;

    z-index: 4;

    box-shadow: 0em 2em 4em black;

}

.searchSuggestion
{
    border-radius: 0.5em;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;

    margin-top: 0.5%;
    margin-bottom: 0.5%;

    border: none;
    outline: none;

    width: 100%;
    font-size: 100%;
    text-align: left;

    font-family: 'Quicksand';

    background-color: transparent;
    color: white;
    transition: all 0.25s;
}

.searchSuggestion:hover
{
    background-color: rgb(47,47,47);
    color: white;
    cursor: pointer;
}

.searchSuggestion:active
{
    transform: scale(0.97);
    background-color: white;
    color: black;
    border-radius: 5em;
/*
    animation-name: upNatomic;
    animation-duration: 0.5s;
    animation-fill-mode: both;*/
}


@keyframes upNatomic
{
    0% 
    {
        transform: scale(1.1);
        opacity: 1;
    }

    80% 
    {
        transform: translateY(-10em);
        opacity: 1;
    }

    100% 
    {
        transform: translateY(-10em);
        opacity: 0.5;
    }
}

.searchSuggestion span
{
    padding-left: 2%;
    padding-right: 2%;
}

.searchSuggestion::selection
{
    color: inherit;
    background-color: inherit;
}



