.linkA
{
	text-decoration: none;
	color: black;
	border-radius: 1000em;
	padding: 1.5%;
	margin: -1.5%;

	transition: all 0.25s;
}

.linkA:hover
{
	box-shadow: 0px 0px 10px rgb(139,139,139);
	background-color: white;
	padding: 0.5%;
	padding-left: 1.5%;
	padding-right: 1.5%;

	margin: -0.5%;
	margin-left: 0.3%;
	margin-right: 0.3%;
}

.linkA:active
{
	color: white;
	background-color: black;
}

#searchBarDiv
{
	background-color: white;
	position: fixed;
	display: flex;
	color: white;
	top: 10%;
	width: 50%;
	left: 25%;
	z-index: 2;

	/*border-radius: 47px;*/
	border-radius: 1000em;
	box-shadow: 0px 13px 26px rgb(200,200,200);
	transition: all 0.25s;
	border: 1.5px solid transparent;
}

/*#searchBarDiv:hover
{
	box-shadow: 0px 13px 26px grey;
}*/

#searchBarDiv:active
{
	padding: 0%;
	margin: -0%;
}

#searchButtonIcon
{
	background-color: white;
	color: black;
	font-size: xx-large;
	border-radius: 50%;
	padding-right: 2%;
	padding-left: 2%;
	border: none;
	outline: none;
	
	box-shadow: 0em 0em 0.5em rgb(200,200,200);
	
	transition: all 0.25s;
	
}

#searchButtonIcon:hover
{
	background-color: black;
	cursor: pointer;
	box-shadow: 0px 0px 13px white;
	color: white;
}

#searchButtonIcon:active
{
	transform: scale(0.9);
}

@keyframes bubblegum
{
	0%
	{
		transform: scale(2.5);
		opacity: 0;
	}
}

@keyframes bubblegumReverse
{
	100%
	{
		transform: scale(2.5);
		opacity: 0;
	}
}

@keyframes hideDown
{
  100%
  {
    opacity: 0;
    transform: translateY(-74px);
  }
}

.hideBelow
{
	animation-name: hideDown;
	animation-fill-mode: both;
	animation-duration: 0.5s;
}

.bubblegumOn
{
	animation-name: bubblegum;
	animation-fill-mode: both;
	animation-duration: 0.25s;
}

.bubblegumOff
{
	animation-name: bubblegumReverse;
	animation-fill-mode: both;
	animation-duration: 0.25s;
}

#searchBar
{
	font-size: xx-large;
	font-family: 'Quicksand';
	/*float: left;*/
	color: black;
	padding: 1%;
	z-index: 1;

	width: 100%;

	border: 1px solid transparent;
	border-radius: 47px;
	
	background-color: transparent;
	padding-left: 2%;
	padding-right: 2%;

	transition: all 0.25s;
}

/*#searchBar:hover
{
	border-color: white;
}*/

#searchBar:focus
{
	outline: none;
	color: white;
/*	background-color: white;
*/}

#searchBar::selection
{
    color: black;
    background-color: white;
}

.icon, .iconActive
{
	width: 1.5em;
	background-color: transparent;
	transition: all 0.25s;
	border-radius: 25%;
	position: fixed;
	top: 17%;
	right: 5%;
	padding: 0.2%;

	border: 1px solid transparent;
}

.icon:hover
{
	cursor: pointer;
	box-shadow: 0px 0px 13px rgb(200,200,200);
}

.iconActive:hover
{
	background-color: red;
	padding: 0.4%;
	margin: -0.2%;
	cursor: pointer;
}

.icon:active,.iconActive:active
{
	transform: scale(0.7);
}

.iconActive /* CLOSE BUTTON */
{
	background-color: red;
}

#searchResultsDiv
{
	background-color: transparent;
	/*border-radius: 47px;*/
	overflow-y: scroll;
	padding: 4%;
	position: fixed;
	height: 60%;
	left: 0%;
	bottom: 0%;
	width: 92%;
	margin: 0;

	box-shadow: none;

	z-index: 1;
}

#searchResultsDiv::-webkit-scrollbar 
{
    display: none;
}

#searchResultsDiv
{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/*#searchResultsDiv .widget
{
	box-shadow: none;
}*/

#searchButton
{
	top: 13%;
	left: 75%;
	color: black;
	font-size: xx-large;
	font-family: 'Quicksand';

	position: fixed;
	z-index: 1;

	border: 1px solid transparent;
	border-radius: 47px;
	padding-bottom: 1%;
	background-color: black;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 0.2%;

	box-shadow: 0px 13px 13px rgb(200,200,200);
	transition: all 0.25s;
}

#searchButton:hover
{
	border-color: white;
}

#searchButton:active
{
	transform: scale(0.7);
}





.filterSearchResult
{
	background-color: rgb(243,243,243);
	padding: 1%;

	margin-top: 4%;
	/*margin-bottom: 3%;*/

	border-radius: 1.5em;
}

.exportSearchLink
{
  font-family: 'Quicksand';

  padding: 1%;
  margin: 1%; 
  font-size: x-large;
  border-radius: 5em;
  border: 0.1em solid transparent;
  color: black;
  background-color: rgb(222,222,222);
  padding-left: 2%;
  padding-right: 2%;

  margin-top: 2%; 

  width: 98%;

  transition: all 0.25s;
}

.exportSearchLink:hover
{
  border: 0.1em solid black;
  cursor: pointer;
}

.exportSearchLink:active
{
  background-color: black;
  color: white;
}




/*----------------------------------------------------------------*/

#searchSuggestionsDiv
{
    display: block;

    background-color: white;

    position: fixed;

    border-radius: 1em;

    padding: 1%;

    width: 50%;
    left: 24%;
    top: 22.5%;

    z-index: 4;

    box-shadow: 0em 2em 4em rgb(200, 200,200);

}

.searchSuggestion
{
    border-radius: 0.5em;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;

    margin-top: 0.5%;
    margin-bottom: 0.5%;

    border: none;
    outline: none;

    width: 100%;
    font-size: 100%;
    text-align: left;

    font-family: 'Quicksand';

    background-color: white;
    color: black;
    transition: all 0.25s;
}

.searchSuggestion:hover
{
    background-color: rgb(235,235,235);
    color: black;
    cursor: pointer;
}

.searchSuggestion:active
{
    transform: scale(0.97);
    background-color: black;
    color: white;
    border-radius: 5em;
/*
    animation-name: upNatomic;
    animation-duration: 0.5s;
    animation-fill-mode: both;*/
}


@keyframes upNatomic
{
    0% 
    {
        transform: scale(1.1);
        opacity: 1;
    }

    80% 
    {
        transform: translateY(-10em);
        opacity: 1;
    }

    100% 
    {
        transform: translateY(-10em);
        opacity: 0.5;
    }
}

.searchSuggestion span
{
    padding-left: 2%;
    padding-right: 2%;
}

.searchSuggestion::selection
{
    color: inherit;
    background-color: inherit;
}
