.displayNone
{
  display: none;
}

#themesMenu
{
  background-color: transparent;
  color: white;
  padding: 4%;
  margin: 0%; 
  border-radius: 2em;

  /*-webkit-backdrop-filter: blur(1em);
  backdrop-filter: blur(1em);*/
}

.themeImageButton
{
  width: 92%;
  background-color: transparent;
  position: relative;

  /*box-shadow: 0em 0em 1em rgb(200,200,200);*/
  padding: 4%;
  border-radius: 3em;
  margin: 4%;
  border: white;
  transition: all 0.25s;
}

.themeImage
{
  width: 100%;
  border-radius: 2em;
  box-shadow: 0em 0em 2em black;
} 

.themeImageButton:hover
{
  cursor: pointer;
 /* transform: scale(1.1);*/
  
  background-color: rgb(47,47,47); 
  /*transform: translateY(1em);*/

  animation-name: glow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.themeImageButton:active
{
  transform: scale(0.9);
}

@keyframes glow
{
  50% 
  {
    background-color: white; 
  }
}


#themeOptionsDiv
{
  display: grid;
  grid-template-columns: auto auto;
}

#themeOptionsDiv li
{
  width: 98%;
  box-shadow: none;
  padding: 0;
}

#themesDivTitle
{
  text-align: center;
  position: sticky;
  position: -webkit-sticky;

  top: -1%;
  padding: 4%; 

  margin-left: -4%; 
  margin-right: -4%;
  padding-left: 8%; 
  padding-right: 8%; 

  margin-top: -1%; 

  z-index: 4;
  background-color: rgb(0,0,0,0.5);

  -webkit-backdrop-filter: blur(1em);
  backdrop-filter: blur(1em);
}

#themesMenuDiv
{
  position: fixed;
  left: 15%;
  width: 70%;
  top: 15%;
  bottom: 0%;

  overflow-y: scroll;

  padding-bottom: 10%;

  background-color: black;
  z-index: 10;

  border-radius: 2.5em;
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;

  box-shadow: 0em 2em 2em black;
}

.launchTopAnimation
{
  animation-name: launchTop;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes launchTop
{
  0% 
  {
    opacity: 0;
    transform: translateY(4em);
  }
}

#themesMenuDiv::-webkit-scrollbar 
{
  display: none;
}

#themesMenuDiv 
{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.themeImageCaption
{
  background-color: red;
  color: white;
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;

  background-color: rgb(0,0,0,0.4);

  -webkit-backdrop-filter: blur(1em);
  backdrop-filter: blur(1em);

  font-family: 'Quicksand';
  font-size: x-large;

  transition: all 0.25s;
}

.themeImageCaption:hover
{
  opacity: 1;
}