body
{
  padding: 2%;
}

.radioList li label, .checkList li label
{
  border-radius: 1em;
  margin: 0%;
  margin-bottom: -2%;
  padding: 4%;
}

input[type="radio"]:not(:checked) + label,
input[type="checkbox"]:not(:checked) + label 
{
  background-color: rgb(25,25,25);
}

.formDiv h1
{
  padding-left: 2%;
  padding-right: 2%;
  font-size: 150%;
  background-color: transparent;
}

.formSection ul li
{
  margin-bottom: 7%;
}

#message
{
  border-radius: 1em;
  padding: 2%;
  padding-left: 4%;
  padding-right: 4%;
}

.prevNextDiv button
{
  display: block;
  width: 100%;
  padding: 4%;
}


#prefix, #state
{
  width: 92%;
  color: white;
  background-color: rgb(25,25,25);
}

.guide
{
  width: 91.75%;
}

.mainTitle
{
  font-family: "Comfortaa";
  font-size: 400%;
  width: auto;
  padding: 0%;
  margin-top: 25%;
  padding-left: 4%;
  color: white;
  height: 100%;
  position: fixed;
  z-index: -1;

  animation-name: launch;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  animation-duration: 0.5s;
}

.formDiv
{
  padding: 1%;
  /* background-image: linear-gradient(147deg, yellow, aqua); */
  margin: 0;
  border-radius: 50px;
  /*background-image: url('worlds.png');*/
  background-color: black;
  margin-bottom: 30%;
  z-index: 1;
  margin-top: 30%;
  box-shadow: none;
}

.formSection
{ 
  background-color: black;
  box-shadow: 0px 0px 25px black;

  margin: 2%;
  margin-bottom: 5%;
  padding: 1%;
  border-radius: 25px;
  transition: all 0.25s;
  /*-webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);*/
}

.sideByside
{
  display: block;
 
  margin: 0;
  padding: 0;
}

.normalBlock
{
  display: block;
  width: 92%;
  margin: 2%;
  padding: 2%;
  transition: all 0.25s;
  border-radius: 47px;
}
.normalBlock:hover
{
  transform: scale(1);
  /* -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
  background-color: rgb(13, 13, 13,0.1);   */
}

label, input, select, option
{
  mix-blend-mode: inherit;
  display: block;
  margin: 1%;
  border-radius: 47px;
  color: white;
  border: none;
  padding: 1.5%;
  padding-left: 3%;
  padding-right: 3%;
  
  transition: all 0.5s;
  font-family: 'Quicksand', sans-serif;
}

input
{
  padding: 3%;
/*  box-shadow: 0px 0px 13px black;
*/  padding-left: 4.7%; 
  width: 90%;
  border: 1px solid transparent;
  font-size: x-large;
  /* -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px); */
}

select, option
{
  margin: 4%;
  color: black;
  font-size: 125%;
  width: 13%;
}

input
{
    background-color: rgb(25,25,25);
    border: 1px solid black; 
}

input:hover
{
    border: 1px solid white; 
}

input:focus
{
  background-color: white;
  color: black; 
  box-shadow: none;
}

input[type="submit"]
{
  width: 96%;
  margin: 0;
  margin-bottom: 7%;
  
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
  left: 2%;
  box-shadow: 0px 0px 13px black;
  background-color: rgb(25,25,25);
  color: white;
  border: 1px solid black;

  position: relative;
  transition: all 0.25s;
}

input[type="submit"]:hover
{
  color: black;
  background-color: white;
  border: 1px solid white;
}

input[type="submit"]:active
{
  box-shadow: none;
  transform: scale(0.9);
}

textarea
{
  margin: 2%;
  width: 92%;
  border-radius: 20px;
  padding: 2%;
  border: none;
  color: white;
  background-color: rgb(25,25,25);
  font-family: 'Quicksand', sans-serif;
  box-shadow: 0px 0px 13px black;
  border: 1px solid black; 
  font-size: x-large;
  transition: all 0.25s;
}

textarea:hover
{
    border: 1px solid white;
}

/********/

#thankYou
{
  padding: 7%;
  font-size: 225%;
  font-family: "Comfortaa";

  animation-name: leftlaunch;
    animation-delay: 0.5s;
    animation-fill-mode: both;
    animation-duration: 0.5s;
}

.summary
{
  font-family: "QuickSand";
  border-radius: 25px;
  
  padding: 4%;
  margin: 1%;
  margin-top: 4%;
  margin-bottom: 7%;

  box-shadow: none;
  background-color: transparent;

  animation-name: rightlaunch;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-duration: 0.5s;
}

.summaryTable
{
  font-size: large;
  width: 102%;
  margin: -2%;
  padding: 4%;
  border-radius: 25px;
  background-color: transparent;
  box-shadow: none;
  border: none;

  transition: all 0.25s;
}

.summaryTable:hover
{
  transform: scale(1);
  box-shadow: none;
  border: none;
}

td
{ 
  width: 100%;
  border-radius: 47px;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  
  display: block;
}

tr
{
  display: block;
  border-radius: 1.5em;
  transition: all 0.25s;
  padding: 2%;
}

tr:hover
{
  background-color: white;
  color: black;
}