input:focus, textarea:focus, select:focus
{
  outline: none;
}

body
{
  background-color: black;
  margin: 0px;
  padding: 10%;
  padding-top: 7%;
  padding-bottom: 14%;
  font-size: x-large;
  color: white;
  font-family: 'Quicksand';
  background-image: url('wsu6.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}

@-webkit-keyframes blurOut
{
  0%
  {
  -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
  }
}

@-webkit-keyframes launch
{
  0%
  {
    opacity: 0;
    transform: scale(2);
  }
}

.mainTitle
{
	font-family: "Comfortaa";
	font-size: 600%;
	width: auto;
	padding: 0%;
  margin-top: -1%;
  padding-left: 4%;
  color: white;
  height: 100%;
  position: fixed;
  z-index: -1;

  animation-name: launch;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  animation-duration: 0.5s;
}

.formDiv
{
  padding: 4%;
  margin: 0%;
  border-radius: 3em;
  background-color: transparent;

  z-index: 1;
  
  box-shadow: none;

  animation-name: formDivLaunch;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.formDiv h1
{
  background-color: rgb(25,25,25);
  border-radius: 2.5em;
  padding: 0.5%;
  padding-left: 2%;
  padding-right: 2%;
  align-self: center;
  margin-right: 5%;
  margin-left: 5%;
}

.formSection
{ 
  background-color: rgb(25,25,25);
/*  box-shadow: 0px 0px 25px black;
*/  
  margin: 4%;
  padding: 2%;
  
  transition: all 0.25s;

  border-radius: 2em;
  margin-top: 6%;
  
  /*-webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);*/
}

.sideByside
{
  display: flex;
 
  margin: 0;
  padding: 0;
}

.normalBlock
{
  display: inline;
  width: 42%;
  margin: 2%;
  padding: 2%;
  transition: all 0.25s;
  border-radius: 47px;
}
.normalBlock:hover
{
  transform: scale(1.1);
}

.normalBlock label, input, select, option
{
  mix-blend-mode: inherit;
  display: block;
  margin: 1%;
  border-radius: 1000em;
  color: white;
  border: none;
  padding: 1.5%;
  padding-left: 3%;
  padding-right: 3%;
  
  transition: all 0.5s;
  font-family: 'Quicksand', sans-serif;
}

input
{
  padding: 3%;
  box-shadow: 0px 0px 13px black;
  padding-left: 4.7%; 
  width: 90%;
  font-size: x-large;
  background-color: rgb(25,25,25);
}

select, option
{
  margin: 4%;
  color: white;
  font-size: 125%;
  background-color: rgb(25,25,25);

  box-shadow: 0px 0px 13px black;
  
  padding: 0.5%;
  padding-left: 2%;
}

input
{
    background-color: rgb(25,25,25);
    border: 2px solid black; 
}

input:hover
{
    border: 0.1em solid white; 
}

input:focus, textarea:focus
{
  background-color: white;
  color: black; 
  border-color: white;
}

input[type="submit"]
{
  width: auto;
  margin: 0;
  
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
  left: 80%;
  box-shadow: 0px 0px 13px black;
  background-color: white;
  color: white;
  background-color: transparent;
  border: 1px solid black;

  position: relative;
  transition: all 0.25s;
}

input[type="submit"]:hover
{
  color: black;
  background-color: white;
  border: 1px solid white;
}

input[type="submit"]:active
{
  box-shadow: none;
  transform: scale(0.9);
}

textarea
{
  /*margin: 2%;
  width: 92%;*/

  margin: 0%;
  margin-top: 4%;
  width: 92%;

  border-radius: 1.5em;
  padding: 4%;
  border: none;
  color: white;
  background-color: transparent;
  font-family: 'Quicksand', sans-serif;
  box-shadow: 0px 0px 13px black;
  border: 1px solid black; 
  font-size: x-large;
  transition: all 0.25s;
}

textarea:hover
{
    border: 1px solid white;
}



/* ####################### */



/*COOL UPDATES*/
::selection
{
  background-color: white;
  color: black;
}

#messageBar
{
  position: fixed;
  display: inline-flex;
  justify-content: center;
  width: 80%;
  left: 10%;
  z-index: 10;
  top: 0%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: transparent;

  /*-webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);*/

  /*box-shadow: 0em 0em 1em black;*/
  border-radius: 10em;
  border-top-right-radius: 0em;
  border-top-left-radius: 0em;

  animation-name: topReveal;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes topReveal
{
  0%
  { 
     transform: translateY(-15em);
  }
}

@keyframes downReveal
{
  0%
  { 
     transform: translateY(15em);
  }
}

#message
{
  font-family: 'Quicksand', sans-serif;
  background-color: white;
  color: black;
  display: inline-block;
  /*box-shadow: 0em 0.5em 1em black;*/

  border-radius: 4em;

  align-items: center;
  justify-content: center;
  
  /*width: 98%;*/
  padding: 0.5%;
  padding-left: 2%;
  padding-right: 2%; 

}

.msgPopAnimation
{
  animation-name: messagePop;
  animation-duration: 0.25s;
  animation-fill-mode: both;
}

.formDivLaunchAnimation
{
  animation-name: formDivLaunch;
  animation-duration: 0.25s;
  animation-fill-mode: both;
}

.ToLeftAnimation
{
  animation-name: ToLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.ToRightAnimation
{
  animation-name: ToRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.errorMsgAnimation
{
  animation-name: errorMessage;
  animation-duration: 0.25s;
  animation-fill-mode: both;
}

.successMsgAnimation
{
  animation-name:successMessage;
  animation-duration: 0.25s;
  animation-fill-mode: both;
}


/* @keyframes messagePop
{
  0%
  { 
     transform: translateX(5em);
     opacity: 0;
  }
}
*/
@keyframes messagePop
{
  0%
  { 
     transform: scale(0.4);
     opacity: 0;
  }
}

@keyframes errorMessage
{
  0%
  { 
     transform: translateX(1.25em);
  }

  20%
  { 
     transform: translateX(-1.25em);
  }

  40%
  { 
     transform: translateX(1.25em);
  }

  60%
  { 
     transform: translateX(-1.25em);
  }

  /*50%
  { 
     transform: translateX(-1.3em);
  }*/

  100%
  { 
     transform: translateX(0em);
  }
}

@keyframes successMessage
{
  0%
  { 
     opacity: 0.5;
  }
}

@keyframes formDivLaunch
{
  0%
  { 
     transform: scale(1.5);
     margin-top: 0%;
     opacity: 0;
  }
}

@keyframes ToLeft
{
  0%
  { 
     transform: translateX(50em);
  }
}

@keyframes ToRight
{
  100%
  { 
     transform: translateX(-50em);
  }
}

.prevNextDiv button
{
  padding: 1%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  background-color: rgb(25,25,25);
  color: white;
  border-radius: 2em;
  box-shadow: 0em 0em 1em black;
  border: none;
  font-family: 'Quicksand';
  font-size: x-large;

  outline: none;

  transition: all 0.25s;
}

 .prevNextDiv button:hover
 {
   background-color: white;
   color: black;
   transform: scale(1.1);
   /*box-shadow: 0px 15px 25px rgb(200,200,200);*/
   cursor: pointer;
 }

 .prevNextDiv button:active
 {
  background-color: white;
  color: black;
  transform: scale(0.9);
 }

 .prevNextDiv button:disabled
 {
    box-shadow: none;
    cursor: not-allowed;
 }

 .nextButton
 {
  float: right;
 }

 .prevButton
 {
  float: left;
 }

 select
 {
    min-width: 46%;
    max-width: 92%;
 }

 .noHover:hover
 {
    transform: none;
 }

 .prevNextDiv
 {
    width: 88%;
    display: inline-block;
    margin: 6%; 
    margin-top: 4%;
    margin-bottom: 2%;
 }

 .radioList li, .checkList li
 {
  margin-top: 1%;
  margin-bottom: 1%;
 }

 .radioList li label::selection, .checkList li label::selection
 {
  background-color: transparent;
  color: inherit;
 }

 .radioList li label, .checkList li label
 {
  display: inline-block;
  background-color: transparent;
  padding: 1%;
  padding-left: 2.5%;
  border: 0.1em solid transparent;
  padding-right: 2.5%;
  border-radius: 2em;  

  margin-left: -2.5%; 

  transition: all 0.25s;
 }

 .radioList li label:hover, .checkList li label:hover
 {
  cursor: pointer;
  border: 0.1em solid white;
  /*box-shadow: 0em 1em 2em black;*/
  transform: scale(1);
 }

 .radioList li label:active, .checkList li label:active
 {
  transform: scale(1.1);
 }

 .radioBlock, .checkBlock
 {
  padding: 2%;
 }

 .radioBlock > label, .checkBlock > label
 {
  margin: 2%; 
  font-size: xx-large;

  display: block;
 }

 input[type="radio"]:checked + label
 {
   background-color: white;
   color: black;
 }

 input[type="radio"]:not(:checked) + label
 {
   background-color: transparent;
   color: white;
 }

 input[type="radio"]
 {
  display: none;
 }

 .otherOption
 {
  
  width: 94%;
  margin-left: 0%;
  padding: 2%;
  padding-left: 3%;
  padding-right: 3%;

  transition: all 0.25s;
 }

 .otherOption:hover
 {
  transform: scale(1.025);
 }

 .singleBlock
 {
  padding: 4%;
 }

 .singleBlock > input
 {
  margin-top: 4%;
  font-size: x-large;
  padding: 2%;
  padding-left: 3%;
  padding-right: 3%;
 }

 input[type="checkbox"]:checked + label
 {
   background-color: white;
   color: black;
 }

 input[type="checkbox"]:not(:checked) + label
 {
   background-color: transparent;
   color: white;
 }

 input[type="checkbox"]
 {
  display: none;
 }

 li
{
  margin: 1.25%;
}

.lessMargin
{
  margin-top: 1%;
  margin-bottom: 1%;
}

textarea::selection, input[type='text']::selection
{
  color: white;
  background-color: rgb(25,25,25);
}

#welcomeDiv
{
  
  /*padding: 0%;*/
  padding: 2%;
  margin-bottom: -50%;

  /*background-color: transparent;*/
}

#welcomeFormSection
{
  box-shadow: none;
  /*background-color: rgb(13,13,13,0.4);*/
  /*backdrop-filter: blur(0.5em);
  -webkit-backdrop-filter: blur(0.5em);*/
}

/********* DEV ************/

.wrongInput
{
   border-color: darkred;
}

.correctInput
{
  border-color: transparent;
   /*border-color: green;
*/}

input::selection
{
  color: white;
  background-color: black;
}



/*TEST*/

.otherTextField
{
  display: none;
  color: black;
  box-shadow: 0px 0px 13px transparent;
  padding: 0%;
  width: 96%;
  border-color: transparent; 
}


.guide
{
  background-color: red;
  color: white;

  text-align: left;
  border-radius: 0.5em;
  font-size: medium;
  padding: 3%;
  margin: 1%;

  width: 90%;
  border: 1px solid transparent;
  margin-top: 0%;
  border-radius: 0px;
  padding-top: 4%;
  padding-bottom: 4%;
  border-bottom-left-radius: 1.25em;
  border-bottom-right-radius: 1.25em;

  transition: all 0.25s;
}

.slideDownAnimation
{
  animation-name: slideDown;
  animation-fill-mode: both;
  animation-duration: 0.25s;
}

.fadeOffAnimation
{
  animation-name: fadeOff;
  animation-fill-mode: both;
  animation-duration: 0.5s;
}

.minimizeAnimation
{
  animation-name: minimize;
  animation-fill-mode: both;
  animation-duration: 0.5s;
}

.maximizeAnimation
{
  animation-name: maximize;
  animation-fill-mode: both;
  animation-duration: 0.5s;
}

@keyframes slideDown
{
  0% 
  {
    border-radius: 5em;
    transform: translateY(10em);
    opacity: 0;
    margin-bottom: -15%;
  }

  50%
  {
    transform: scale(1.15);
  }
}

@keyframes minimize
{
  0%
  {
    margin-bottom: 15%;
  }
}

@keyframes maximize
{
  100%
  {
    margin-bottom: 15%;
  }
}

@keyframes fadeOff
{
  100% 
  {
    border-radius: 5em;
    transform: scale(1.1);
    opacity: 0;
  }
}

.bond
{
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
  border-top-left-radius: 0.9em;
  border-top-right-radius: 0.9em;
  box-shadow: none;
  border: 1px solid transparent;
  margin-bottom: 0%;
  padding-bottom: 1%;
  transition: all 0s;
}

.bond:hover
{
  border: 1px solid transparent;
}

input
{
  padding-left: 5%;
  padding-right: 5%;
  width: 86%;
}

.singleBlock .guide
{ 
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.singleBlock label
{
  padding-left: 2%;
  padding-right: 2%;
  width: 96%;
  display: block;
}

.singleBlock > input
{
  margin-top: 2.5%;
}

.singleBlock > input:active
{
  border: 2px solid white;
  box-shadow: none;
}